{% macro external_link(params) %}
  <a target="_blank" href="{{ params.href }}" class="custom-ring rounded-sm">
    <span class="mr-1">{{ params.label }}</span>
    <span class="inline-block top-0.5 relative text-xl">
      {% include "icons/external_link.njk" %}
    </span>
  </a>
{% endmacro %}