{% macro external_link(params) %}
  <a target="_blank" href="{{ params.href }}" class="custom-ring rounded-sm inline-flex items-center">
    <span class="mr-2">{{ params.label }}</span>
    <span class="text-xl">
      {% include "icons/external_link.njk" %}
    </span>
  </a>
{% endmacro %}