{% macro icon_button(params) %}
  <button id="{{ params.id }}" class="ring-inset custom-ring rounded-md {{ params.class }}">
    {% include "icons/" + params.icon + ".njk" %}
  </button>
{% endmacro %}