{% macro link(params) %}
  <a id="{{ params.id }}" class="focus:ring focus:ring-sky-500 dark:focus:ring-sky-400 ring-inset transition-shadow outline-none {{ params.class }} " href="{{ params.href }}">{{ params.label }}</a>
{% endmacro %}