---
layout: layouts/document.njk
---

<body class="bg-slate-100 text-neutral-700 dark:bg-slate-900  dark:text-neutral-100 font-body h-full relative">
  {% include "partials/intro.njk" %}
  {% include "partials/navbar.njk" %}
  <main class="container mx-auto px-4 relative -top-16">
    {{ content | safe }}
  </main>
</body>