---
layout: layouts/base.njk
---

<section class="h-screen flex flex-col justify-center sm:pb-32">
  <h1 class="text-neutral-800 dark:text-white text-4xl sm:text-7xl xl:text-8xl font-semibold mb-8">
    Coming up soon
  </h1>
</section>