---
layout: layouts/base.njk
---

{% include "partials/hero.njk" %}
{% include "partials/work.njk" %}
{% include "partials/side_projects.njk" %}
<div class="divider"></div>
{% include "partials/contact.njk" %}