---
layout: layouts/base.njk
---

{% include "partials/hero.njk" %}
{% include "partials/work.njk" %}
{% include "partials/side_projects.njk" %}
{% include "components/divider.njk" %}
{% include "partials/contact.njk" %}