<footer class="container mx-auto px-4 sm:px-8 relative text-center p-8">
  <ul class="flex items-center justify-center gap-1 mb-2">
    <li>
      <a class="p-1.5 inline-block custom-ring rounded-md" aria-label="github profile" target="_blank" href="https://github.com/thegrinder">
        {% include "icons/github.njk" %}
      </a>
    </li>
    <li>
      <a class="p-1.5 inline-block custom-ring rounded-md" aria-label="github profile" target="_blank" href="https://www.linkedin.com/in/pawelszczepkowski/">
        {% include "icons/linkedin.njk" %}
      </a>
    </li>
  </ul>
  <p class="text-slate-400 dark:text-slate-500">©Szczepkowski 2022</p>
</footer>