<section class="h-screen flex flex-col justify-center">
  <p class="text-sky-600 dark:text-sky-300 block text-xl sm:text-2xl mb-8 sm:mb-12">
    Hi, my name is
  </p>
  <h1 class="text-neutral-800 dark:text-white text-4xl sm:text-7xl xl:text-8xl font-semibold mb-8">
    Pawel Szczepkowski
  </h1>
  <p class="text-slate-500 dark:text-slate-400 block text-xl sm:text-4xl max-w-4xl leading-normal sm:leading-normal mb-16 sm:mb-24">
    I'm a web and mobile frontend developer occassionaly dabbing with design
  </p>
  <div>
    <a class="button" href="mailto:szczepkowski.dev@gmail.com">
      Get in touch
    </a>
  </div>
</section>