<div id="intro" class="h-full fixed inset-0 bg-slate-100 dark:bg-slate-900 z-20 fade-out-with-delay">
  <div class="flex justify-center items-center h-full text-[140px] font-semibold">
    <span class="inline-block">P</span>
    <span class="inline-block -ml-2 bounce">.</span>
  </div>
</div>