<nav class="container mx-auto px-2 sm:px-4 relative z-10">
  <div class="h-20 flex w-full justify-between">
    <ul class="h-full flex gap-2 text-xl">
      <li class="h-full">
        <a id="home" class="custom-ring ring-inset rounded-md h-full flex items-center px-4 font-semibold" href="/">
          P.
        </a>
      </li>
      <li class="h-full">
        <a id="blog" class="custom-ring ring-inset rounded-md h-full flex items-center px-4 font-semibold" href="/blog">
          Blog
        </a>
      </li>
    </ul>
    <button id="color-mode-button" class="ring-inset custom-ring rounded-md flex items-center px-4 text-lg">
      {% include "icons/light_bulb.njk" %}
    </button>
  </div>
</nav>