{%- from "components/link.njk" import link -%}
{%- from "components/icon_button.njk" import icon_button -%}

<nav class="container mx-auto px-2 sm:px-4 relative z-10">
  <div class="h-20 flex w-full justify-between">
    <ul class="h-full flex gap-2 text-xl">
      <li class="h-full">
        {{link({
          id: 'home',
          href: '/',
          class: 'h-full flex items-center px-4 font-semibold',
          label: 'P.'
        })}}
      </li>
      <li class="h-full">
        {{link({
          id: 'blog',
          href: '/blog',
          class: 'h-full flex items-center px-4 font-semibold',
          label: 'Blog'
        })}}
      </li>
    </ul>
    {{icon_button({
      id: 'color-mode-button',
      class: 'h-full flex items-center px-4 text-lg',
      icon: 'light_bulb'
    })}}
  </div>
</nav>