{%- from "components/work.njk" import work -%}

<section class="pt-24 pb-48">
  <h2 class="section-title mb-12 sm:mb-24">
    Side projects
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-14">
    {% for project in side_projects %}
      {{ work(project) }}
    {% endfor %}
  </div>
</section>