{%- from "components/work.njk" import work -%}

<section class="min-h-screen py-24">
  <h2 class="section-title mb-12 sm:mb-24">
    Work
  </h2>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-14">
    {% for job in jobs %}
      {{ work(job) }}
    {% endfor %}
  </div>
</section>