<article class="bg-slate-50 dark:bg-slate-800 shadow-md dark:custom-shadow-white p-8 pb-10 rounded-xl h-full">
  <div class="flex flex-col h-full">
    <div class="flex gap-8 mb-8">
      <div class="shrink-0">
        <img alt="{{ params.company }} logo" width="50px" height="50px" src="{{ params.logo }}" class="overflow-hidden rounded-md"/>
      </div>
      <div>
        <h3 class="font-semibold text-xl">{{ params.company }}</h3>
        <p class="text-slate-500 dark:text-slate-400 text-sm">{{ params.startDate }} - {{ params.endDate }}</p>
      </div>
    </div>
    <div class="flex flex-col lg:ml-20 grow">
      <ul class="grow mb-8">
        {% for item in params.items %}
          <li class="flex mb-2 leading-relaxed">
            <span class="text-sky-500 dark:text-sky-300 text-lg mr-2 mt-0.5">{% include "icons/check_circle.njk" %}</span>
            <span>{{ item }}</span>
          </li>
        {% endfor %}
      </ul>
      <ul class="text-slate-500 dark:text-slate-400 flex flex-wrap text-sm">
        {% for tech in params.stack %}
          <li class="flex items-center">
            <span>{{ tech }}</span>
            {% if loop.index !== params.stack.length %}
              <span class="bg-sky-600 dark:bg-sky-300 mx-4 inline-block w-1.5 h-1.5 rounded-full"></span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>